*{padding:0; margin:0; list-style:none;}
ul.multimenu                         { position: relative; width:100%; height:34px; background-image:url(../images/multimenubg_root.gif);}
ul.multimenu li                      { font-weight: bold; padding:8px 10px; float: left; border-right:1px solid #505050; border-left:1px solid #151515; color: #FFF; font-size:12px; font-family:Trebuchet MS, Arial, Sans-Serif; }
/*ul.multimenu a:hover		         { color: #FFF; }
ul.multimenu a:active                { color: #FFF; }
ul.multimenu li.hover a              { color: black; }
ul.multimenu li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  color: #222; }
ul.multimenu li:last-child a         { border-right: none; }*/
 /* Doesn't work in IE */
ul.multimenu li:hover                { color: #FFF; position: relative; background-image:url(../images/multimenubg_root_over.gif); }



/* 
	LEVEL TWO
*/
ul.multimenu ul 					 {width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; border-right:1px solid #333; border-left:0px solid #000; border-bottom:1px solid #000; 
                					  -moz-box-shadow: 4px 4px 5px #333;
                                      -webkit-box-shadow: 4px 4px 5px #333;
                                      box-shadow: 4px 4px 5px #333;
                                      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#333333')";
                                      border-bottom-left-radius: 10px;
                                      border-bottom-right-radius: 10px;
                                      -webkit-border-bottom-left-radius: 10px;
                                        -webkit-border-bottom-right-radius: 10px;
                                        -moz-border-radius-bottomleft: 10px;
                                        -moz-border-radius-bottomright: 10px;
                                        background-color:#585858;
                                        padding-bottom:10px;
                                      }
ul.multimenu ul li 					 {font-weight: normal; color: #ddd; float: none; background:url(../images/arrow-icon.png) no-repeat  200px 12px;}
ul.multimenu ul li:hover 			 {font-weight: bold; color: #fff; float: none; border-top:1px solid #272727; border-bottom:1px solid #666; background:url(../images/arrow-icon.png) no-repeat #333 200px 12px;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.multimenu ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.multimenu ul ul 					{left: 100%; top: 0; border-right:1px solid #609aa7; border-left:1px solid #d8e5e8; border-bottom:0;
                   					border-radius: 10px;
                                      border-radius: 10px;
                                      -webkit-border-radius: 10px;
                                        -webkit-border-radius: 10px;
                                        -moz-border-radius: 10px;
                                        -moz-border-radius: 10px;
                                        background-color:#b9d3d9;
                                        padding-bottom:10px; 
                   					}
ul.multimenu ul ul li    			{ padding:0; border:0;}
ul.multimenu ul ul li:hover 		{font-weight: bold;  color: #FFF; background: #006780; padding:0; border:0;}
ul.multimenu ul ul li a     		{ color:#006780; text-decoration:none; width: 210px; padding:8px 0 8px 10px; border-top:1px solid #609aa7; border-bottom:1px solid #d8e5e8;}
ul.multimenu ul ul li a:hover  		{ color:#FFF; text-decoration:none; border-top:1px solid #7ba1b0; border-bottom:1px solid #0080a0;}
ul.multimenu li:hover > ul 			{ visibility: visible; }