<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmprestimoEntities" connectionString="metadata=res://*/ModuloBasico.EmprestimoDB.csdl|res://*/ModuloBasico.EmprestimoDB.ssdl|res://*/ModuloBasico.EmprestimoDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=emprestimo&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>